
.swal2-container:not(.swal2-top):not(.swal2-top-start):not(.swal2-top-end):not(.swal2-top-left):not(.swal2-top-right):not(.swal2-center-start):not(.swal2-center-end):not(.swal2-center-left):not(.swal2-center-right):not(.swal2-bottom):not(.swal2-bottom-start):not(.swal2-bottom-end):not(.swal2-bottom-left):not(.swal2-bottom-right)>.swal2-modal{
  width: 375px;
}
.subj_top {
  height: 200px;
  width: 100%;
  background: #ffffff;
  overflow: hidden;
}
.subj_top img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.subj_container {
  width: 250px;
  height: 275px;
  background: #03a9f4;
  border-radius: 10px;
  overflow: hidden;
  border: solid #dedede 1px;
  -webkit-box-shadow: 0 3px 15px 1px rgba(15,37,81,.05);
  box-shadow: 0 3px 15px 1px rgba(15,37,81,.05);
}
.subj_top:hover{
  cursor: pointer;
  z-index: 1;
}
.subj_container:hover{
  -webkit-box-shadow: 0 3px 13px 1px rgba(15, 37, 81, 0.18) !important;
  box-shadow: 0 3px 13px 1px rgba(15, 37, 81, 0.18) !important;
}
.subj_bottom{
  padding: 10px 0 0 15px;
}
.subj_bottom div h5 {
  color: #ffffff !important;
  font-weight: 700;
  font-size: 14px !important;
  margin: 0;
  text-align: left !important;
text-transform: uppercase;
}
.subj_bottom div p {
  color: #ffffff;
  font-size: 14px;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.sched{
  color: #f9f9f9;
  font-weight: 400;
  font-size: 12px !important;
}
.video-call {
  color: #e1f3fb;
  font-size: 25px;
  position: relative;
  top: -10px;
}

.lesson-text h4{
  text-align: left !important;
  font-size: 16px;
  font-weight: 600;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  /* text-transform: uppercase; */
  margin: 0 0 0px 0;
}
.lesson-text span{
  font-weight: 600;
  color: #5d5d5da8;
  margin: 0;
}
.lesson-text p{
font-size: 15px;
  margin: 0 0 0px 0;
  color: #5d5d5d;
white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#lesson-datePosted span{
  margin-left: 15px;
}
#lesson-datePosted span svg{
  height: 40px;
  width: 40px;
  border-radius: 5px;
}
#lesson-datePosted span svg:hover{
box-shadow: 0 3px 15px 1px rgb(15 37 81 / 20%);
cursor: pointer
}

@media (max-width: 767px) {
  .content-container {
    padding: 15px 0px!important;
}
  .sub-nav{
    padding: 0;
}
.container-fluid, .container-sm, .container-md, .container-lg, .container-xl{
  padding-left: 0;
  padding-right: 0;
    overflow: hidden;
}
.card{
  border-radius: 0;
   padding: 0;
 }
.col-mobile-view{
    padding-left: 5px;
    padding-right: 5px;
}
.square-120x180{
    width: 100% !important;
    height: 70px !important;
    background: #000000;
    border-radius: 0;
}
 .lesson-text h4{
    font-size: 15px;
    font-weight: 600;
    margin: 0 0 0px 0;
 }
.lesson-text p{
  font-size: 15px;
    margin: 0 0 0px 0;
  }
  .list-group{
      padding: 0 !important;
  }
  /* .list-group-item{
    padding: 15px 15px !important;
  } */
  .list-status .btn{
  padding: 10px 10px !important;
  }
.label{
  text-align: left !important;
  }
  .question{
      width: 100% !important;
      padding: 25px 0 !important;
  }
  .question-image-container{
      margin-left: 0 !important;
  }
  .question-header h5{
      text-align: left !important;
  }
}

@media (min-width: 767px) {
#lesson-video-preview{
    padding-right: 10% !important;
    padding-left: 10% !important;
}
}
.sub-nav{
  margin-bottom: 15px;
}
.video-call:hover{
  z-index: 9;
  cursor: pointer;
  color: #ffffff;
}
.subj_holder {
  padding: 15px;
  display: flex;
  justify-content: center;
}
.nav-card .active span{
font-weight: 600 !important;
}
.card-body{
  padding-bottom: 10px !important;
  padding: 0.5rem !important;
}
.nav-card {
  padding: 0 10px;
  display: flex;
  background: #096e2a;
  border-top: solid #0c5088 1px;
  overflow: auto;
}
.nav-card .nav-content {
  flex-basis: 0%;
  flex-basis: 0%;
  padding: 10px 15px 2px 15px;
  transition: all .3s ease-in-out;
  border-radius: 0 25px;
  cursor: pointer;
  color: #ffffff;
}
span.nav-back{
position: relative; 
bottom: 5px;
}
span.nav-back i{
font-size: 20px !important;
}
.nav-content:hover{
  background: #0b471f;
}
.nav-card .active {
  background: #ffffff !important;
  color: #2b2b2b;
}
.nav-content span {
  font-weight: 500;
  font-size: 14px;
}
.btn-icon{
background: none;
  color: #2196F3;
  border: none;
}
.btn-icon i{
font-size: 20px;
}

.data p{
padding-bottom: 5px;
font-size: 16px;
margin-bottom: 15px !important;
  border-bottom: solid #9e9e9e78 1px;
}
.label{
text-align: right;
padding-right: 15px !important;
}
.label label{
font-size: 14px;
  font-weight: 600;
}
p#status .btn{
border-radius: 3px;
}



.hide{
  display: none;
}
.show{
  display: block;
}
.pad-top-30{
  padding: 30px 0 0 0;
}
.padding-5{
padding: 5px;
}
.padding-10{
  padding: 10px 0 0 0 !important;
}
.detail-footer{
  padding: 15px;
  border-top: solid #dbdbdc 1px;
text-align: right;
}
.ml-10px{
margin-left: 10px;
}
.pad-tb-30{
  padding: 30px 0;
}
.pad-tb-15{
  padding: 15px 0;
}
.lesson-desc{
  padding: 15px 0 5px 0;
}
.lesson-desc h5{
  font-size: 17px !important;
  font-weight: 600;
  line-height: 1.5rem;
  text-transform: uppercase;
  text-align: left !important;
  margin-bottom: 5px;
}
.lesson-desc .other-desc{
  color: #000000;
  font-size: 17px;
  margin: 10px 0 !important;
  line-height: 1.4;
  font-weight: 300;
}
.lesson-desc #lesson-datePosted{
color: #a7aaac;
  font-weight: 600;
  margin-top: -10px;
}
/* .other-desc p{
  margin: 0 !important;
} */

.list-status{
display: flex;
justify-content: center;
}
.list-status .btn{
font-size: 13px;
  text-shadow: 0 0 0;
  border-radius: 5px !important;
  min-width: 70px !important;
  white-space: normal !important;
text-transform: uppercase;
  margin: auto;
  padding: 10px;
}

.add-lesson{
position: fixed;
  border-radius: 50px;
  bottom: 90px;
  background: #00a7e9;
  color: #ffffff;
  transition: all .3s ease-in-out;
  z-index: 9;
  border: none;
  cursor: pointer;
  height: 45px;
  width: 45px;
  box-shadow: 0 3px 15px 1px rgb(15 37 81 / 33%);
}
.add-lesson:hover{
  background: #0c5088;
box-shadow: 0 3px 15px 1px rgb(15 37 81 / 48%);
}
.add-lesson i{
  font-size: 25px;
}
/* .bootstrap-filestyle{ */
/* 	display: none !important; */
/* } */

/* /* ------------------ */ */
.list-group{
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 0 30px;
  margin-bottom: 0;
  margin-top: 0;
}
.list-group-item{
  border-width: 1px 0 1px 0;
  padding: 15px 10px;
  /* border: 1px solid rgba(0, 0, 0, .06); */
  border: none;
  cursor: pointer;
  transition: all .1s ease-in-out;
  width: 100%;
  /* margin-bottom: 5px; */
  overflow: hidden;
  border-bottom: 1px solid rgba(0, 0, 0, .06);
  border-top: 1px solid rgba(0, 0, 0, .06);
}
.list-group-item.active{
  background: #ffffff;
  box-shadow: 0 3px 15px 1px rgb(15 37 81 / 20%);
  border: none !important;
}
.list-group-item:hover{
  box-shadow: 0 3px 15px 1px rgb(15 37 81 / 20%);
}
.media{
  display: flex;
  -ms-flex-align: start;
  align-items: flex-start;
  width: inherit;
  padding-bottom: 10px;
}
.square-120x180{
/*     height: 120px; */
/*     width: 180px; */
width: 100%;
  height: auto;
  margin: 0;
  border-radius: 5px;
  overflow: hidden;
}
.square-120x180 img, .square-40-circle img, .square-120h img{
  height: 100%;
  width: 100%;
object-fit: cover;;
  margin: 0 auto;
}
/* .media-body{ */
/*     padding-left: 10px; */
/*     width: 1px; */
/* 	overflow: hidden; */
/*     align-self: center; */
/*     flex: 1; */
/* } */
/* .media-body h5{ */
/*     color: #000000; */
/*     margin: 5px 0; */
/*     font-size: 18px !important; */
/*     text-transform: capitalize; */
/* } */
/* .media-body p{ */
/*     color: #000000b3; */
/*     font-size: 14px; */
/*     margin: 10px 0; */
/*     line-height: 1.4; */
/*     font-weight: 300; */
/* } */
/* .media-body span{ */
/*     color: #8c8c8c; */
/*     font-weight: 600; */
/* } */
.capitalize{
  text-transform: capitalize;
}
.list-group-item:first-child{
  margin-right: 0;
}
#tab-title{
  position: relative;
  left: 5px;
  text-transform: uppercase;
}
.pad-tb-10{
  padding: 10px 0;
}
.theme{
  background: #0c5088 !important;
}
.theme h4{
  color: #ffffff !important;
}
.pad-0{
  padding: 0 !important;
}
.margin-bot-25{
  margin-top: 25px;
}
/*+++++++++++ LESSON LIST ++++++++++++++ */
.action-icons-container{
width: 100%;
  display: flex;
  justify-content: flex-end;
}
.action-icon{
  color: #ffffff;
  padding: 5px;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  transition: all .3s ease-in-out;
}
.action-icon i{
  font-size: 17px;
  position: relative;
/*     left: 2px; */
  top: 1px;
}
.space-right{
margin-right: 10px;
}
span.status{
  position: relative;
  left: 15px;
  bottom: 0;
padding: 5px 10px;
  border-radius: 15px;
  font-size: 13px;
  cursor: default !important;
}
span.status-selected{
margin-top: -40px;
  position: absolute;
  left: 120px;
  padding: 5px 10px;
  border-radius: 20PX;
  font-size: 13px;
  cursor: default !important;
}
.d-flex-center{
display: flex;
  justify-content: center;
  align-items: center;
/*     background: #dfdfe1; */
}

/* ++++++++ LESSON ++++++++ */

.btn.loader:before{
  animation: spin 0.8s linear infinite
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.d-center {
  text-align: -webkit-center;
}
.file-content {
  background-color: #fff;
  padding-top: 5px;
  margin-bottom: 10px;
  width: fit-content;
/*     border-bottom: 1px solid #d6d8da; */
}
.file-container {
  margin-bottom: 20px;
  width: 250px;
  height: 285px;
  background-color: transparent;
  overflow: hidden;
  border-radius: 10px;
  transition: color 0.15s ease-in-out,background-color 0.15s ease-in-out,border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out;
}
.file-container img {
  max-width: 100%;
  height: auto;
}	
.note-text{
float: right;
  font-size: 12px;
  padding-left: 20px;
}
i.pdf{
font-size: 20px !important;
  left: 0 !important;
}
.btn-fixed{
position: fixed !important;
}
.btn-action-cicle{
  border-radius: 50px;
  color: #ffffff;
  transition: all .3s ease-in-out;
  z-index: 9;
  border: none;
  cursor: pointer;
  height: 40px;
  width: 40px;
  box-shadow: 0 3px 15px 1px rgb(15 37 81 / 33%);
font-size: 20px;
}
.table-responsive{
overflow: visible !important;
}
.question-container{
/* 	background: rgb(15 37 81 / 33%); */
margin-top: 15px;
padding-top: 15px;
transition: all .3s ease-in-out;
box-shadow: 0 3px 15px 1px rgb(15 37 81 / 20%);
}
textarea.form-control{
overflow: hidden;
  overflow-wrap: break-word;
  resize: none;
  height: 48px;
}
small.add-answer{
margin-left: 20px;
  font-size: 11px;
}
small.add-answer b{
color: #00BCD4 !important;
}
.question_num{
  color: #00BCD4;
  font-weight: 700;
}
/* .question-container:hover{ */
/* 	box-shadow: 0 3px 15px 1px rgb(15 37 81 / 33%); */
/* } */

.selectize-control.multi .selectize-input > div{
  background: #009688;
  color: #ffffff;
}

.parent-badge{
font-size: 14px;
  font-weight: 500;
  margin-right: 5px;
/*     background: #e4e4e5; */
  padding: 7px;
  border-radius: 5px;
box-shadow: 0 5px 15px rgba(0,0,0,.2)!important;
}
.for-title{
/*     margin-top: 50px; */
  padding-bottom: 25px;
}
.mb-2px{
margin-bottom: 2px !important;
}
.for-title .btn{
  margin-right: 10px;
}
.bg-title{
  /* background: #effdf6!important; */
  background: #edf1f6!important;
margin-top: 30px;
  padding: 10px;
  text-align: center;
}
.bg-title h6{
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 0;
}
span.option{
  padding-right: 7px
}
.question-image-container{
  height: 250px;
  width: 400px;
overflow: hidden;
  margin-left: 20%;
transition: all .2s ease-in-out;
cursor: pointer;
}
.question-image-container:hover{
box-shadow: 0 5px 15px rgba(0,0,0,.2)!important;
}
.pad-tb{
padding-top: 10px;
  padding-bottom: 20px;
}
.option-image-container{
height: 100px;
  width: 130px;
  overflow: hidden;
border-radius: 5px;
transition: all .2s ease-in-out;
cursor: pointer;
}
.option-image-container:hover{
box-shadow: 0 5px 15px rgba(0,0,0,.2)!important;
}
.option-question p{
margin-bottom: 3px;
}
.option-image-container img, .question-image-container img{
height: 100%;
  width: 100%;
  object-fit: contain;
}
.mr-5px{
margin-right: 5px;
}
.mb-20px{
  margin-bottom: 20px;
}	
.justify-center{
justify-content: center;
/*     margin-bottom: 20px; */
}
.bg-theme{
background: #0c5088 !important;
}
/* .bg-theme th{ */
/* 	color: #ffffff !important; */
/* } */
.table thead th:hover{
cursor: default;
}
tr.view-quiz{
cursor: pointer;
}

.view-question{
cursor: pointer;
}
.form-group-view p{
  border-bottom: solid #dfdfe1 1px;
  padding-bottom: 5px;
  margin-top: 5px;
}
.form-group-view{
  margin-top: -10px;
}
.form-group-view label{
color: #8a8a8a;
}

/* ++++++++ SEARCH BAR ++++++++ */
::-webkit-input-placeholder { 
color: #fff;
}
::-moz-placeholder { 
color: #fff;
}
.search-focus:focus{
  width: 400px;
  padding-left: 30px;
  cursor: text;
  box-shadow: 0 5px 15px rgba(0,0,0,.2)!important;
}
h3.title{
text-transform: uppercase;
  font-weight: 500;
  margin-bottom: 2rem;
  font-size: 20px !important;
  padding-top: 10px;
}

.question{
  width: 75%;
  /* border: solid #cecece 1px; */
  border-radius: 10px;
  padding: 25px 3rem;
  margin-bottom: 20px;
}
.question .question-header{
  /* text-align: center; */
  padding: 10px 0;
}
.question-header h5{
  font-size: 17px;
  font-weight: 600;
  margin: 0;
}
.question-header span{
  font-size: 14px;
  font-weight: 800;
  position: relative;
  bottom: 10px;
  color: #00BCD4;
}
.question-body{
  padding: 10px 20px;
}
.question-body p{
  margin-bottom: 8px;
  font-size: 16px;
}
.card{
  overflow: unset !important;
}
.question-footer{
  margin-bottom: 70px;
  text-align: center;
}
.selectize-control.multi .selectize-input > div{
  background: #096e2a !important;
  color: white !important;
  border-radius: 3px;
  padding: 3px 10px !important;
}
small.note{
  color: black;
  font-weight: 500;
  margin-left: 10px;
  font-size: 12px;
}
.pad-side-10{
  padding: 0 10px;
}





/* -------- ADDED  -------- */
.lesson-text .btn-icon{
  position: relative;
  top: 3px;
  left: 10px;
  line-height: 18px;
}
.content-container{
  padding-top: 0 !important;
}
.d_tabs {
    padding: 10px 15px;
    color: #fff !important;
    text-align: center;
  }
  .d-contain {
    width: 245px;
  }
  #acct-table table thead tr {
    background: #304f8f;
    color: #ffffff;
    border: none;
  }
  #acct-table table thead tr th {
    border-radius: 0px!important;
  }
  .d_school_name {
    position: absolute; 
    display: flex; 
    justify-content: center; 
    width: 100%; 
    align-items: center;
  }
  .d_school_name p {
    width: 100%; 
    margin-right: 35px; 
    text-align: center; 
    margin-bottom: auto; 
    margin-top: auto; 
    font-family: century schoolbook; 
    font-size: 20px;
  }






























  /* ==========  ADDED  =========== */
  .card{
    padding: 0 !important;
  }
  .d_school_name{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin: 0 auto !important;
    left: 25%;
  }
  .form-group-view label {
    margin: 0;
    font-size: 15px;
  }
  .form-group-view p {
    font-size: 17px;
    font-weight: 400;
  }
  .list-status .btn{
    padding: 10px 7px !important;
  }
  /* .timer-container{
    box-shadow: 0 3px 15px 1px rgb(15 37 81 / 20%);
    background: #fff;
    padding: 0px 40px 5px 40px;
    border-radius: 5px;
    width: fit-content;
    position: fixed;
    top: 5px;
    margin-left: 5px;
    z-index: 999;
    background: #26315e;
  }
  .timer-container h5{
    margin: 0;
    font-weight: 500;
    color: white;
  }
  .timer-container h5 i{
    position: relative;
    top: 5px;
  } */
  .active{
    background: #192f5d;
    color: white;
  }
  button.boxed:hover{
    color: white;
  }
  #message-btn-container{
    position: fixed;
    bottom: 30px;
    z-index: 999;
    right: 30px;
  }
  #message-btn-container button.btn{
    padding: 5px !important;
    height: 40px !important;
    width: 40px !important;
    background: #192f5d !important;
    box-shadow: 0 5px 15px rgba(0,0,0,.2)!important;
    color: white !important;
  }



  /* ================  FORUM  ================== */
  .message-container{
    padding: 10px;
    margin-bottom: 20px;
    overflow: hidden;
    background: #ffffff;
    border-radius: 25px 25px 25px 0;
    width: fit-content;
    max-width: 80%;
    box-shadow: 0 3px 15px 1px rgba(15,37,81,.05);
  }
  .pad-bot{
      padding: 0 0 40px 0 !important;
  }
.message-container p{
    text-align: justify;
    font-size: 14px;
    font-family: sans-serif;
    margin-bottom: 10px;
}
.profile-pic-div img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}
.message-container label{
    position: relative;
    left: 0;
    top: 15px;
    text-transform: capitalize;
    font-size: 14px;
    font-weight: 600;
    color: black;
} 
.message-container span{
  font-weight: 600;
  color: #1984c8;
  font-size: 13px;
}
.message-text{
    min-width: 80%;
    flex: 0;
}
.cover-space{
    max-width: 100%;
    flex: 1;
    padding: 15px !important;
}
.entry-msg-container{
    padding: 15px;
    position: fixed;
    bottom: 10px;
    right: 0;
    width: 91%
}
.msg-content{
    padding: 5px;
    border-radius: 25px;
    border: none;
    z-index: 99;
    background: white;
    box-shadow: 0 3px 15px 1px rgb(15 37 81 / 19%);
}
#message-trigger{
  position: absolute;
  bottom: 5px;
  color: #ffffff;
  background: #2196f3;
  padding: 18px 15px;
  height: 55px;
  width: 55px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  transition: all .3s ease-in-out;
  outline: none;
  box-shadow: 0 5px 5px 2px rgb(219 219 219);
}
#message-trigger:hover{
    background: #0c5088;
}
#message-trigger i{
    font-size: 23px;
}
.msg-content textarea{
    position: relative;
    top: 0;
    left: 15px;
    border: none;
    background: none;
    width: 90%;
}
.msg-content textarea:focus{
    border: none !important; 
    background: none;
    box-shadow: none;
}
form-control:hover .msg-content{
   box-shadow: 0 3px 15px 1px rgb(15 37 81 / 35%);
}
.nav-content.active{
   background: #f0f0f0 !important;
}
.my-message{
    display: flex!important;
  justify-content: flex-end;
    /* margin-right: 15px; */
}
.my-message-container{
    border-radius: 25px 25px 0 25px !important;
    background: #eaeef3  !important;
}

@media (max-width: 767px) {
    .container-fluid{
        padding-right: 15px !important;
        padding-left: 15px !important;
    }
    .message-container{
        max-width: 90%;
    }
    .cover-space{
        padding: 10px !important;
    }
    .message-container{
        padding: 5px 10px 5px 5px;
    }
    .msg-content textarea {
        width: 75%;
    }
    .msg-content .col-12{
        padding: 0;
    }
    .entry-msg-container {
        width: 100%;
    }
}
    .container-fluid{
        padding: 0 !important;
    }
.sub-header{
    background: #192f5d; 
    overflow: auto;
}
.sub-header .d_tabs.active{
    color: #000 !important;
    background: #fff;
    font-weight: 600;
    border-top: solid #192f5d 1px;
    border-radius: 0;
}
.module-title{
  background-color: #192f5d; 
  padding: 5px; 
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  margin: 0;
  margin-top: 20px;
}
.p-0{
  padding: 0 !important;
}
.btn-link{
  text-decoration: none !important;
}
.btn-primary, .badge-primary{
  color: #fff;
  background-color: #007bff !important;
}
.list-row{
  padding: 15px;
  border-bottom: solid #d4d4d4 1px;
  border-top: solid #d4d4d4 1px;
}
.list-row p{
  margin: 0;
}
.list-row .title{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 16px;
  font-weight: 300;
}
.stat{
  font-size: 12px !important;
  font-weight: 600 !important;
}
.list-row .time-limit{
  font-weight: 700;
  color: #9E9E9E;
  font-size: 13px;
}
.list-row .term{
  text-transform: uppercase;
  font-size: 17px;
  font-weight: 700;
}
.col-mobile-view.active{
  box-shadow: 0 3px 15px 1px rgb(15 37 81 / 20%);
  border: none !important;
  background: #ffffff;
  color: #000000;
}
.list-row .type{
  font-size: 17px;
  font-weight: 600;
}
.list-row .score{
  font-weight: 700;
}
.badge{
  font-size: 100%;
  padding: 10px 5px;
}
.boxed{
  border-radius: 0 !important;
  border-radius: 5px !important;
  min-width: 70px !important;
  white-space: normal !important;
  text-transform: uppercase;
  margin: auto;
}
.badge-outline-success {
  border: solid green 1px;
  color: green;
}
.timer-container{
  border-top: solid #d1d2d2 1px;
  border-bottom: solid #d1d2d2 1px;
  padding: 10px 0 15px 0;
}
.questions{
  font-weight: 600;
  text-align: justify !important;
}
.modal-title i{
  color: #007bff;
  font-size: 20px;
  position: relative;
  top: 4px;
  padding-right: 5px;
}
::placeholder {
  color: #9b9b9b;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #9b9b9b;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #9b9b9b;
}